<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h3>Detalhes da Venda</h3>
          <br>
          <div class="row">
            <div class="col-2">
              <mdb-form-control>
                <input mdbInput type="text" id="id" class="form-control" [(ngModel)]="venda.id" [readonly]="true"/>
                <label mdbLabel class="form-label" for="id">Id</label>
              </mdb-form-control>
            </div>
            <div class="col-7">
              <mdb-form-control>
                <input mdbInput type="text" id="cliente" class="form-control" [(ngModel)]="venda.cliente" />
                <label mdbLabel class="form-label" for="cliente">Nome do Cliente</label>
              </mdb-form-control>
            </div>
            <div class="col-3">
              <mdb-form-control>
                <input mdbInput type="number" id="valorTotal" class="form-control" [(ngModel)]="venda.valorTotal" [readonly]="true" (ngModelChange)="formatarValor($event)" />
                <label mdbLabel class="form-label" for="valorTotal">Valor Total</label>
              </mdb-form-control>
            </div>
          </div>
          <br>
          <div class="centro">
            <h5>Itens</h5>
            <hr class="hr" />
          </div>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Valor Unitário</th>
                <th>Quantidade</th>
                <th class="centro">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="venda.vendaProdutos.length === 0">
                <td colspan="6" class="esquerda">Sem registros para exibir</td>
              </tr>
              @for (vendaProduto of venda.vendaProdutos; track $index) {
                <tr>
                  <td>{{vendaProduto.produto?.id}}</td>
                  <td>{{vendaProduto.produto?.nome}}</td>
                  <td>{{vendaProduto.produto?.valorUnitario | currency:'BRL':'symbol':'1.2-2'}}</td>
                  <td>{{vendaProduto.quantidade}}</td>
                  <td class="centro">
                    <button type="button" class="btn btn-danger btn-sm" mdbRipple (click)="excluirVendaProduto(vendaProduto)">
                      Excluir
                    </button>
                  </td>
                </tr>
              }
            </tbody>
        </table>
        <br>
        <div class="row">
          <div class="col-md-8">
            <button type="button" class="btn btn-primary me-2 btn-sm" mdbRipple  (click)="criar()" *ngIf="venda.id == null || venda.id == 0" >
              Gravar
            </button>
            <button type="button" class="btn btn-primary me-2 btn-sm" mdbRipple  (click)="alterar()" *ngIf="venda.id > 0" >
              Alterar
            </button>
            <button type="button" class="btn btn-primary me-2 btn-sm" mdbRipple routerLink="/admin/vendas" >
              Voltar
            </button>
          </div>
          <div class="col-md-4 direita">
            <button type="button" class="btn btn-primary  me-2 btn-sm" mdbRipple  (click)="abrirModal()" >
              Novo Item
            </button>
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>


<!--Modal de Itens (VendaProduto)-->
<ng-template #modalVendaProduto>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Selecione um produto</h5>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <select class="form-select" [(ngModel)]="vendaProduto.produto">
        <option value="">Selecione...</option>
        <option *ngFor="let produto of produtos" [ngValue]="produto">
          {{ produto.nome  }}
        </option>
      </select>
    </div>
    <br>
    <div class="col-5">
      <mdb-form-control>
        <input mdbInput type="number" id="quantidade" class="form-control" [(ngModel)]="vendaProduto.quantidade" min="0" step="1" />
        <label mdbLabel class="form-label" for="quantidade">Quantidade</label>
      </mdb-form-control>
    </div>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary me-2 btn-sm" mdbRipple (click)="adicionarVendaProduto()">
      Confirmar
    </button>
    <button type="button" class="btn btn-primary btn-sm" mdbRipple (click)="modalRef.close()" >
      Fechar
    </button>
  </div>
  </ng-template>
