<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Listagem de Vendas</h3>
          <div class="direita">
            <button type="button" class="btn btn-primary btn-sm" mdbRipple routerLink="/admin/vendas/criar" >
              Nova Venda
            </button>
          </div>
          <br/>
          <table class="table table-sm">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Cliente</th>
                  <th>Valor Total</th>
                  <th class="centro">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="vendas.length === 0">
                  <td colspan="4" class="esquerda">Sem registros para exibir</td>
                </tr>
                @for (venda of vendas; track $index) {
                  <tr>
                    <td>{{venda.id}}</td>
                    <td>{{venda.cliente}}</td>
                    <td>{{venda.valorTotal | currency:'BRL':'symbol':'1.2-2'}}</td>
                    <td class="centro">
                      <button type="button" class="btn btn-primary me-2 btn-sm" mdbRipple routerLink="/admin/vendas/alterar/{{venda.id}}" >
                        Alterar
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" mdbRipple (click)="excluir(venda)">
                        Excluir
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
