<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Listagem de Produtos</h3>
          <div class="direita">
            <button type="button" class="btn btn-primary btn-sm" mdbRipple routerLink="/admin/produtos/criar" >
              Novo Produto
            </button>
          </div>
          <br/>
          <table class="table table-sm">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Quantidade Disponível</th>
                  <th class="centro">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="produtos.length === 0">
                  <td colspan="5" class="esquerda">Sem registros para exibir</td>
                </tr>
                @for (produto of produtos; track $index) {
                  <tr>
                    <td>{{produto.id}}</td>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.quantidadeDisponivel}}</td>
                    <td class="centro">
                      <button type="button" class="btn btn-primary me-2 btn-sm" mdbRipple routerLink="/admin/produtos/alterar/{{produto.id}}" >
                        Editar
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" mdbRipple (click)="excluir(produto)">
                        Excluir
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
